<div class="group">
  <h2>新增问题</h2>
  <%= simple_form_for @question do |q| %>
    <div class="form-group">
      <%= q.input :content, input_html: { class: "form-control"} %>
    </div>
    <div class="group">
      所属模板：<%=q.select :collection_id, 1..Collection.count%>
    </div>
    <%= q.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
  <% end %>
</div>
